@model IEnumerable<BurgerShopProject.Entities.Extra>

@*@model IEnumerable<ExtraViewModel>*@




@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ExtraName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExtraPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExtraImageName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ExtraName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExtraPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExtraImageName)
                    @*<img src="~/images/@item.ExtraImageName" alt="Extra Image" />*@
                </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.ExtraName">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ExtraName">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ExtraName">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
