@model OrdersCartViewModel


<div class="cart-section" style="margin-top:200px">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <div class="cart-table-wrap">
                    <table class="table cart-table" style="color:white">
                        <thead class="table-light">
                            <tr class="table-head-row">
                                <th class="product-remove"></th>
                                <th class="product-image">Ürün Fotoğrafı</th>
                                <th class="product-name">Ürün Adı</th>
                                <th class="product-price">Fiyat</th>
                                <th class="product-quantity">Miktar</th>
                            </tr>
                        </thead>
                        <tbody>

                            @* TODO:bu sayfa icincrud islemleri yapilacak*@
                            @if (Model.Menus != null)
                            {
                                @foreach (var item2 in Model.Menus)
                                {


                                    <tr class="table-body-row">
                                        <td class="product-remove"><a asp-action="RemoveFromCart" asp-controller="ShoppingCart" asp-route-id="@item2.Id"><i class="far fa-window-close"></i></a></td>
                                        <td class="product-image">
                                            @if (item2.MenuName != null)
                                            {
                                                <img src="~/images/@item2.MenuImageName" alt="Alternate Text" width="126" height="60" />
                                            }
                                            @{
                                                ViewBag.MenuTotalPrice = item2.Quantity * item2.MenuPrice;

                                                ViewBag.TotalMenu += ViewBag.MenuTotalPrice;
                                            }

                                        </td>
                                        <td class="product-name">@item2.MenuName</td>
                                        <td class="product-price">@ViewBag.MenuTotalPrice TL</td>
                                        <td class="product-quantity">@item2.Quantity</td>


                                        @*<td class="product-quantity">  <select asp-for="@item.MenuSize" asp-items="Html.GetEnumSelectList<BurgerShopProject.Entities.Size>()"></select></td>*@
                                    </tr>
                                }
                            }


                            @foreach (var item2 in Model.Extras)
                            {


                                <tr class="table-body-row">
                                    <td class="product-remove"><a asp-action="RemoveFromCart" asp-controller="ShoppingCart" asp-route-id="@item2.Id"><i class="far fa-window-close"></i></a></td>
                                    <td class="product-image">
                                        @if (item2.ExtraName != null)
                                        {
                                            <img src="~/images/@item2.ExtraImageName" alt="Alternate Text" width="126" height="60" />
                                        }

                                        @{
                                            ViewBag.ExtraTotalPrice = item2.Quantity * item2.ExtraPrice;

                                            ViewBag.TotalExtra += ViewBag.ExtraTotalPrice;

                                        }

                                    </td>
                                    <td class="product-name">@item2.ExtraName</td>
                                    <td class="product-price">@ViewBag.ExtraTotalPrice TL</td>
                                    <td class="product-quantity">@item2.Quantity</td>

                                    @*<td class="product-quantity">  <select asp-for="@item.MenuSize" asp-items="Html.GetEnumSelectList<BurgerShopProject.Entities.Size>()"></select></td>*@
                                </tr>


                            }


                        </tbody>
                    </table>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="total-section">
                    <table class="table total-table">
                        <thead class="table-light">
                            <tr class="table-total-row">
                                <th>Toplam </th>
                                <th>Fiyat</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                if ((Model.Menus.Count() != 0 && Model.Extras.Count() != 0) || (Model.Menus.Count() == 0 && Model.Extras.Count() != 0))
                                {
                                    decimal totalMenu = ViewBag.TotalMenu;
                                    decimal totalExtra = ViewBag.TotalExtra;


                                    ViewData["Total"] = totalMenu + totalExtra;

                                }
                            }
                            <tr class="total-data" style="color:white">
                                <td><strong>Sepet Toplam: </strong></td>
                                <td>
                                    @ViewData["Total"] TL
                                </td>
                            </tr>
                        </tbody>


                    </table>
                    <div class="cart-buttons">
                        <a asp-action="ConfirmCart" asp-controller="ShoppingCart" class="btn btn-dark">Siparişi Onayla</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
