@model BurgerShopProject.Entities.Order

<div class="cart-section" style="margin-top:200px">
    <h1>Siparisiniz basariyla gerceklesmistir</h1>

    <h2>Siparisinizin detaylari</h2>
    <table class="table cart-table" style="color:white">
        <thead class="table-light">
            <tr class="table-head-row">
                <th>
                    <p>Sepetin icerigi</p>
                </th>
                <th>
                    <p>Siparis Fiyati</p>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Menus)
            {
                <tr class="table-body-row">
                    <td>
                        @item.MenuName
                    </td>
                    <td>
                        @item.MenuPrice
                    </td>
                </tr>
            }
            @foreach (var item in Model.Extras)
            {
                <tr class="table-body-row">
                    <td>
                        @item.ExtraName
                    </td>
                    <td>
                        @item.ExtraPrice
                    </td>
                </tr>
            }
            <tr class="total-data" style="color:white">
                <td><strong>Sepet Toplam: </strong></td>
                <td>
                    @Model.OrderPrice TL
                </td>
            </tr>
        </tbody>

    </table>
</div>
<form method="post">
    <div class="d-flex justify-content-center "><a asp-area="" asp-controller="Home" asp-action="Index" class="btn btn-success w-25 "> Ana menuye git</a></div>\
</form>

