@model BurgerShopProject.Entities.Order

<div class="cart-section" style="margin-top:200px">
    <h1>Siparisiniz basariyla gerceklesmistir</h1>

    <h2>Siparisinizin detaylari</h2>
    <table class="table cart-table" style="color:white">
        <thead class="table-light">
            <tr class="table-head-row">
                <th>
                    <p>Sepetin icerigi</p>
                </th>
                <th>
                    <p>Siparis Fiyati</p>
                </th>
            </tr>
        </thead>

        <tbody>
            @if (Model != null)
            {
                decimal totalMenu = 0;
                decimal totalExtra = 0;
                @foreach (var item in Model.Menus)
                {
                    {
                        ViewBag.MenuTotalPrice = item.Quantity * item.MenuPrice;
                        var valueInViewBag = ViewBag.MenuTotalPrice;

                        string x = Convert.ToString(valueInViewBag);

                        if (valueInViewBag != null)
                        {
                            decimal intValue;
                            intValue = decimal.Parse(x);
                            totalMenu += decimal.Parse(x);

                            ViewBag.ToplamMenu = totalMenu;
                        }
                    }
                    <tr class="table-body-row">
                        <td>
                            @item.MenuName
                        </td>
                        <td>
                            @ViewBag.MenuTotalPrice TL
                        </td>
                    </tr>
                }
                @foreach (var item in Model.Extras)
                {
                    {
                        ViewBag.ExtraTotalPrice = item.Quantity * item.ExtraPrice;
                        var valueInViewBag1 = ViewBag.ExtraTotalPrice;

                        string x = Convert.ToString(valueInViewBag1);

                        if (valueInViewBag1 != null)
                        {
                            decimal intValue;
                            intValue = decimal.Parse(x);
                            totalExtra += decimal.Parse(x);

                            ViewBag.ExtraMenu = totalExtra;
                        }
                    }
                    <tr class="table-body-row">
                        <td>
                            @item.ExtraName
                        </td>
                        <td>
                            @ViewBag.ExtraTotalPrice TL
                        </td>
                    </tr>
                }
            }
            @{
              
            }
            <tr class="total-data" style="color:white">
                <td><strong>Sepet Toplam: </strong></td>
                <td>
                    @if (Model != null)
                    {
                        @Model.OrderPrice
                    }
                    TL
                </td>
            </tr>
        </tbody>

    </table>
</div>
<form method="post">
    <div class="d-flex justify-content-center "><a asp-area="" asp-controller="Home" asp-action="Index" class="btn btn-success w-25 "> Ana menuye git</a></div>\
</form>

