@*@using BurgerShopProject.Entities
    @model List<Menu>
*@

@using BurgerShopProject.Models
@model MenuExtraViewModel


<!-- start home section -->
<section class="home text-center" id="home">
    <div class="container">
        <div class="content">
            <img src="~/images/burger-baner.png" alt="" data-aos="fade-up" data-aos-delay="150" />
            <h1 data-aos="fade-up" data-aos-delay="300">so meaty you'll go crazy</h1>
            <p data-aos="fade-up" data-aos-delay="450">
                Lorem Ipsum Dolor Sit Amet Consectetur Adipisicing Elit. Dolores At
                Fuga Aliquam Ipsa Recusandae Repellat Laudantium Pariatur Amet Culpa
                Cum.
            </p>
            <a href="#menu" class="custom-btn" data-aos="fade-up" data-aos-delay="600">our menu</a>
            <a href="#extra" class="custom-btn" data-aos="fade-up" data-aos-delay="600">our extra</a>
            @if ((TempData["AlertMessage"] != null))
            {
                <div class="alert alert-warning">@TempData["AlertMessage"]</div>
            }
        </div>
    </div>
</section>
<!-- start services section -->
<section class="services text-center">
    <div class="container-lg">
        <div class="row g-3">
            <div class="col-md-4 col-sm-6">
                <div class="box " data-aos="fade-up" data-aos-delay="150">
                    <i class="fas fa-hamburger"></i>
                    <h3>best quality</h3>
                    <p>
                        Lorem Ipsum Dolor Sit, Amet Consectetur Adipisicing Elit.
                        Incidunt, Cum.
                    </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="box" data-aos="fade-up" data-aos-delay="300">
                    <i class="fas fa-shipping-fast"></i>
                    <h3>free delivery</h3>
                    <p>
                        Lorem Ipsum Dolor Sit, Amet Consectetur Adipisicing Elit.
                        Incidunt, Cum.
                    </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="box" data-aos="fade-up" data-aos-delay="450">
                    <i class="fas fa-headset"></i>
                    <h3>24/7 support</h3>
                    <p>
                        Lorem Ipsum Dolor Sit, Amet Consectetur Adipisicing Elit.
                        Incidunt, Cum.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- start menu section -->
<section class="menu text-center" id="menu">
    <img src="~/images/title-img.png" alt="" />
    <h2>our menu</h2>
    <div class="container">
        <div class="row g-3">
            @foreach (var item in Model.Menu)
            {
                <div class="col-md-4 col-sm-6">
                    <div class="box d-flex flex-column align-items-center" data-aos="fade-up" data-aos-delay="150">
                        <img src="~/images/@item.MenuImageName" alt="" width="252px" height="252px" />
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                        </div>
                        <h3>@item.MenuName</h3>
                        <span><sup>$</sup>@item.MenuPrice</span>
                        <a asp-controller="Orders" asp-action="AddToCart" asp-route-id="@item.Id" class="custom-btn">add to cart</a>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
<!-- start extra section -->
<section class="extra text-center" id="extra">
    <img src="~/images/title-img.png" alt="" />
    <h2>Our Extra</h2>
    <div class="container">
        <div class="row g-3">
            @foreach (var item in Model.Extra)
            {
                <div class="col-md-4 col-sm-6">
                    <div class="box d-flex flex-column align-items-center" data-aos="fade-up" data-aos-delay="150">
                        <img src="~/images/@item.ExtraImageName" alt="" width="252px" height="252px" />
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                        </div>
                        <h3>@item.ExtraName</h3>
                        <span><sup>$</sup>@item.ExtraPrice</span>
                        <a asp-controller="Orders" asp-action="ExtraAddToCart" asp-route-id="@item.Id" class="custom-btn">add to cart</a>
                    </div>
                </div>
            }
        </div>
    </div>
</section>