@model IEnumerable<BurgerShopProject.Entities.Menu>

@{
    ViewData["Title"] = "Create";
}

<h1>Index</h1>

<form method="post">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.MenuName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MenuPrice)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MenuSize)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MenuImageName)
                </th>
                <th></th>
            </tr>
        </thead>
        @*<tbody>*@
    </table>
    <div>
        @foreach (var item in Model)
        {
            @*<tr>*@
            <div class="form-control">
                <label asp-for="@item.Id" class="control-label"></label>
                <input asp-for="@item.Id" class="form-control" readonly />
                <span asp-validation-for="@item.Id" class="text-danger"></span>
            </div>
            @*<td>*@
            <div class="form-control">

                <a asp-controller="Home" asp-action="Order"><i class="fas fa-shopping-cart icons" style="color:white"></i></a>

            </div>
            @*</td>*@
            @*</tr>*@
        }
        @*</tbody>*@
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
