@model IEnumerable<BurgerShopProject.Entities.Menu>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MenuName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MenuPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MenuSize)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MenuImageName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MenuName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MenuPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MenuSize)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MenuImageName)
            </td>
            <td>
                <a asp-action="Order" >Sepete Ekle</a> 
            </td>
        </tr>
}
    </tbody>
</table>
